.theatres-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
  align-items: center;
  justify-items: center;
  margin: 9.6rem 0;
}
.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50rem;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem rgba(32, 27, 27, 0.1);
}
.movie-box {
  padding: 2.4rem;
}
.img-box {
  width: 100%;
}
.movie-name {
  font-size: 3.2rem;
  font-weight: 500;
}

.theatre-name {
  font-size: 2.6rem;
  font-weight: 400;
}

.span-class {
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 10px;
  padding: 0.6rem;
  margin-right: 1rem;
}
/* .casting {
  background-color: #9775fa;
}
.directing {
  background-color: #12b886;
} */

.cast {
  font-size: 1.6rem;
  font-weight: 700;
}
.shows {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
}
.show-time {
  padding: 1.2rem;
  font-size: 1.2rem;
}
