.form-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}
.signin-header {
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.5px;
  margin-bottom: 9.6rem;
}

.form-container {
  display: flex;
  width: 40%;
  flex-direction: column;
  gap: 2rem;
}

.text-field {
  font-size: 1.6rem;
}
