/* BELOW 1344px (Smaller desktops) */

@media (max-width: 84em) {
  .container {
    max-width: 120rem;
  }
  .margin-right-sm {
    margin-right: 1rem;
  }
  html {
    font-size: 56.25%;
  }
}

/* BELOW 1200px (Landscape tablets) */

@media (max-width: 75em) {
  .secondary-header {
    font-size: 2.4rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .btn {
    padding: 1rem;
    font-size: 1.4rem;
  }
}

/* BELOW 960px (Landscape tablets) */

@media (max-width: 60em) {
  .container {
    max-width: 100rem;
  }
  html {
    font-size: 50%;
  }

  .shows {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .show-time {
    padding: 1rem;
  }
  .booking-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .main-nav-list {
    gap: 2.8rem;
  }
}

/* BELOW 768px (Landscape tablets) */

@media (max-width: 48em) {
  .container {
    max-width: 80rem;
  }

  html {
    font-size: 43.75%;
  }
}

/* BELOW 576px (Small tablets) */

@media (max-width: 36em) {
  .container {
    max-width: 80rem;
  }

  html {
    font-size: 32.75%;
  }

  /* Theatres */

  .btn,
  .show-time {
    font-size: 1.9rem;
    padding: 2rem;
  }

  .theatres-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.2rem;
    align-items: center;
    justify-items: center;
  }
}

/* BELOW 400px (Phones) */

@media (max-width: 25rem) {
  html {
    font-size: 25%;
  }
  /* Home Page */

  .primary-text {
    font-size: 3rem;
  }
  .secondary-text {
    font-size: 2.4rem;
  }

  /* Header */

  .logo {
    margin-left: 1rem;
  }

  .header {
    padding: 0;
  }
  .main-nav-list {
    gap: 1 rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 1.3rem;
  }
  .main-nav-link.nav-cta:link,
  .main-nav-link.nav-cta:visited {
    padding: 1rem;
  }

  /* Theatres */

  .btn,
  .show-time {
    font-size: 1.6rem;
    padding: 2rem;
  }

  /* ADD THEATRE */

  .shows {
    gap: 1rem;
  }
}
