/* BELOW 1344px (Smaller desktops) */

@media (max-width: 84em) {
  .container {
    max-width: 120rem;
  }
  .margin-right-sm {
    margin-right: 1rem;
  }
}

/* BELOW 1200px (Landscape tablets) */

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .secondary-header {
    font-size: 2.4rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .btn {
    padding: 1rem;
    font-size: 1.4rem;
  }
}

/* BELOW 960px (Landscape tablets) */

@media (max-width: 60em) {
  .container {
    max-width: 100rem;
  }
  html {
    font-size: 50%;
  }

  .shows {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .show-time {
    padding: 1rem;
  }
  .booking-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .main-nav-list {
    gap: 2.8rem;
  }
}

/* BELOW 768px (Landscape tablets) */

@media (max-width: 48em) {
  .container {
    max-width: 80rem;
  }

  html {
    font-size: 43.75%;
  }
}

/* BELOW 576px (Landscape tablets) */

@media (max-width: 36em) {
  .container {
    max-width: 80rem;
  }

  html {
    font-size: 35.75%;
  }

  .theatres-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.2rem;
    align-items: center;
    justify-items: center;
  }
}
